<h1>Add a New Dine Out Order</h1>
<%= form_for @dine_out do |f| %>

    <p>
    	<%= f.label "Restaurant - Your ID is: " %>
    	<%= current_restaurant_id %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label "Phone Number" %>
		<%= f.text_field :phone_num %>
	</p>
	<p>
		<%= f.label :address %>
		<%= f.text_field :address %>
	</p>
	<p>
		<%= f.label "Delivery/Carry Out" %>
		<%= f.text_field :kind %>
	</p>
	<p>
		<%= f.label :meal %>
		<%= f.text_area :meal %>
	</p>
	<p>
		<%= f.label "Target Time" %>
		Format: YYYY-MM-DD hh:mm:ss
		<%= f.text_field :time_gimme %>
	</p>
	<p>
		<%= f.submit "Add Order" %>
	</p>

<% end %>