
<% provide(:title, 'Reservations') %>

<h1>Reservations</h1>
<% if signed_in? %>
<script type="text/javascript">
  var timeout = setTimeout("location.reload(true);",10000);
  function resetTimeout() {
    clearTimeout(timeout);
  }
</script>
<h2>
  Below are your reservations:
</h2>
<% if current_reservations.length == 0 %>
  <h3> No Reservations </h3>
<% end %>
<p>  Your specified reservation limit for any given time is 
  <%= current_restaurant.reserveCap %>.
    You can edit this in your settings 
</p>
<hr>
<center>
<table>
 	<tr>
 		<th style="width:15%">Name</th>
 		<th style="width:10%">Party</th>
 		<th style="width:30%">Date and Time</th>
 		<th style="width:30%">Submission Time</th>
 		<th style="width:10%">Modify</th>
 	</tr>
  	<% current_reservations.each do |reservation| %>
 	<p>
 		<tr>
  		<td><%= reservation.name %></td> 
  		<td><%= reservation.party_size %> </td>
  		<td><%= reservation.time_start %></td>
  		<td><%= reservation.created_at %></td>
  		<td><%= link_to "Edit", edit_reservation_path(reservation), :onclick => "resetTimeout();" %> | 
  			<%= link_to "Delete", reservation, :confirm => "Are you sure?",
  			:method => :delete %></td>
  		</tr>
  	</p>
  <% end %>
</table>
</center>
<hr>
<p><%= link_to "Add a New Reservation", new_reservation_path, :onclick => "resetTimeout();" %></p>
<% else %>
  You are not logged in.
<% end %>
