<h1>Add a New Reservation</h1>
<%= form_for @reservation do |f| %>
    <p>
    	<%= f.label "Restaurant - Your id is: " %>
    	<%= current_restaurant_id %>
    </p>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :party_size %>
		<%= f.text_field :party_size %>
	</p>
	<p>
		<%= f.label "Date and Time" %>
		Format: YYYY-MM-DD hh:mm
		<%= f.text_field :time_start %>
	</p>
	<p>
		<%= f.submit "Add Reservation" %>
	</p>
<% end %>