<h1>Add a New Reservation</h1>
<% @reservation.restaurants_id = current_restaurant_id %>
<%= form_for @reservation do |f| %>
    <p>
    	<%= f.label "Restaurant ID - Your ID is: "  %>
    	<%= current_restaurant_id %> 
    	<!-- <%= f.text_field :restaurants_id %> -->
    </p>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :party_size %>
		<%= f.text_field :party_size %>
	</p>
	<p>
		<%= f.label "Date and Time" %>
		<%= f.label "YYYY-MM-DD hh:mm:ss" %>
		<%= f.text_field :timeStart %>
	</p>
	<p>
		<%= f.submit "Add Reservation" %>
	</p>
<% end %>
<% @reservation.restaurants_id = current_restaurant_id %>