<h1>Add a New Item</h1>
<%= form_for @food_item do |f| %>
    <p>
    	<%= f.label "Restaurant (Find the ID in your profile)"  %> 
    	<%= f.text_field :restaurants_id %>
    </p>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :price %>
		<%= f.text_field :price %>
	</p>
	<p>
		<%= f.label :category %>
		<%= f.text_field :category %>
	</p>
	<p>
		<%= f.label "Description" %>
		<%= f.text_field :description %>
	</p>
	<p>
		<%= f.submit "Add Item" %>
	</p>
<% end %>