
<h1> Settings </h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@restaurant) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :owner %>
      <%= f.text_field :owner %>

      <%= f.label :phone %>
      <%= f.text_field :phone %>

      <%= f.label :address %>
      <%= f.text_field :address %>

      <%= f.label "Reservation limit" %>
      <%= f.text_field :reserveCap %>

      <p>Schedule</p>

      <table>
            <tr>
                  <td>Day</td>
                  <td>Open</td>
                  <td>Close</td>
            </tr>
            <tr>
                  <td>Sunday</td>
                  <td><%= f.text_field :sundayOpen %></td>
                  <td><%= f.text_field :sundayClose %></td>
            </tr>
            <tr>
                  <td>Monday</td>
                  <td><%= f.text_field :mondayOpen %></td>
                  <td><%= f.text_field :mondayClose %></td>
            </tr>
            <tr>
                  <td>Tuesday</td>
                  <td><%= f.text_field :tuesdayOpen %></td>
                  <td><%= f.text_field :tuesdayClose %></td>
            </tr>
            <tr>
                  <td>Wednesday</td>
                  <td><%= f.text_field :wednesdayOpen %></td>
                  <td><%= f.text_field :wednesdayClose %></td>
            </tr>
            <tr>
                  <td>Thursday</td>
                  <td><%= f.text_field :thursdayOpen %></td>
                  <td><%= f.text_field :thursdayClose %></td>
            </tr>
            <tr>
                  <td>Friday</td>
                  <td><%= f.text_field :fridayOpen %></td>
                  <td><%= f.text_field :fridayClose %></td>
            </tr>
            <tr>
                  <td>Saturday</td>
                  <td><%= f.text_field :saturdayOpen %></td>
                  <td><%= f.text_field :saturdayClose %></td>
            </tr>


      </table>
      
      <!--
      <%= f.label :sundayOpen %>
      <%= f.text_field :sundayOpen %>

      <%= f.label :sundayClose %>
      <%= f.text_field :sundayClose %>

      <%= f.label :mondayOpen %>
      <%= f.text_field :mondayOpen %>

      <%= f.label :mondayClose %>
      <%= f.text_field :mondayClose %>

      <%= f.label :tuesdayOpen %>
      <%= f.text_field :tuesdayOpen %>

      <%= f.label :tuesdayClose %>
      <%= f.text_field :tuesdayClose %>

      <%= f.label :wednesdayOpen %>
      <%= f.text_field :wednesdayOpen %>

      <%= f.label :wednesdayClose %>
      <%= f.text_field :wednesdayClose %>

      <%= f.label :thursdayOpen %>
      <%= f.text_field :thursdayOpen %>

      <%= f.label :thursdayClose %>
      <%= f.text_field :thursdayClose %>

      <%= f.label :fridayOpen %>
      <%= f.text_field :fridayOpen %>

      <%= f.label :fridayClose %>
      <%= f.text_field :fridayClose %>

      <%= f.label :saturdayOpen %>
      <%= f.text_field :saturdayOpen %>

      <%= f.label :saturdayClose %>
      <%= f.text_field :saturdayClose %>
      
      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
      -->

      <%= f.submit "Update", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

