<% provide(:title, @restaurant.id) %>
<h1>
	<%= @restaurant.name.upcase %>
</h1>
<h2>
  Your Restaurant ID is:
  <%= @restaurant.id %>
  <br>
  Your address is:
  <%= @restaurant.address %>
  <br>
  Your phone number is:
  <%= @restaurant.phone %>
</h2>
<p><%= link_to "View Reservations", reservations_path %>
	<br>
   <%= link_to "View Dine Out Orders", "#" %>
</p>