<% provide(:title, @restaurant.id) %>
<% if signed_in? %>
<h1>
	<%= @restaurant.name.upcase %>
</h1>
<h2>
  Your Restaurant ID is:
  <%= @restaurant.id %>
  <br>
  Your address is:
  <%= @restaurant.address %>
  <br>
  Your phone number is:
  <%= @restaurant.phone %>
  <br>
  <%= link_to "Edit Information", edit_restaurant_path %>
</h2>
<p><%= link_to "View Reservations", reservations_path %>
	<br>
   <%= link_to "View Dine Out Orders", dine_outs_path %>
</p>
<% else %>
  <h1>You are not logged in.</h1>
<% end %>